
.aboutMe {
	@extend %center;
  padding: 5%;
	@extend %color;
	@extend %fontSize;
  
  &::after {
      @media #{$brk-tablet} {
        content: "";
        display: block;
        clear: both;
      }
    }
}



.mainContent {
	@extend %center;
	background:$color-background;
	padding: 6% 3%;
  
  & p {
	@extend %color;
	@extend %fontSize;
	padding-bottom: 10%;
}
  &:after{
      content: "";
      display: block;
      clear: both;
    }
  
}

.contactArea {
	padding: 7% 3%;
	@extend %center;
	@extend %fontSize;
  
  & p,& a {
    	@extend %color;
  }
}

.banner {
  @media #{$brk-tablet} {
    max-width: 40%;
	  float: right;
}  
  
}

.story {
  @media #{$brk-tablet} {
    max-width: 60%;
    padding-right:30px;
	  padding-left: 30px;
	  margin-top: 5%;
  }
}

.middle {
     @media #{$brk-tablet} {
        width: 45%;
        padding-left:10%;
        float: left;
        height: 500px;
    }
    
    @media #{$brk-desktop} {
      width: 33.33%;
			padding-left:3%;
			height: 500px;
    }
  
}



