// color variables 

$Dark_Cerulean: #a6a6a6;
$white : #fff;
$Deep_Magenta: DB00BE;
$black:#000;

//functinal variable 

$color-text : $Dark_Cerulean;
$color-background : $white ;
$heading: $black;
$hover :$Deep_Magenta;

// images path

$path-img : 'images';


//media querries

$tablet-width : 768px;
$desktop-width : 1024px;